#file-input {
  display: none;
}

.custom-file-input {
  display: inline-block;
  padding: 10px 20px; /* Increase padding for bigger button */
  cursor: pointer;
  background-color: #f7681b;
  color: white;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px; /* Add margin to position higher up */
}

.custom-file-input:hover {
  background-color: #ff8b16;
}

button[type="submit"] {
  display: inline-block;
  padding: 10px 20px; /* Increase padding for bigger button */
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 10px; /* Add margin to position higher up */
}

button[type="submit"]:hover {
  background-color: #333333;
}